.container{
    padding: 40px;
    background: #FF00F50D;
    border-radius: 20px;
    width: 100%;
    height:400px;
    display: grid;
    grid-template-columns: 94px 1fr;
    grid-template-rows: 1fr 40px;
  }

  .axisx{
    display: flex;
    align-items: flex-end;
  }

